#controller .dpad {
    display: grid;
    grid-template-areas:". key-a ." ". top ." "left bottom right" "key-1 key-2 .";
    grid-gap: 6px;
  }
  
  #controller button {
    padding-top:20%;
    padding-bottom: 20%;
    font-size: 3.2vw;
    display: flex;
    align-items: center;
    justify-content: center;  
  }
  
  #controller button[env3d-key^="KEY_UP"] {
    grid-area: top;
  }
  
  #controller button[env3d-key^="KEY_LEFT"] {
    grid-area: left;
  }
  
  #controller button[env3d-key^="KEY_RIGHT"] {
    grid-area: right;
  }
  
  #controller button[env3d-key^="KEY_DOWN"] {
    grid-area: bottom;
  }
  
  #controller button[env3d-key^="KEY_A"] {
    grid-area: key-a;
  }
  
  #controller button[env3d-key^="KEY_1"] {
    grid-area: key-1;
  }
  #controller button[env3d-key^="KEY_2"] {
    grid-area: key-2;
  }
  .rangeslider{
    width: 5vh;
    height: 50px;
}
.myslider {
    -webkit-appearance: none;
    background: rgb(255, 163, 255)  ;
    width: 100vw;
    height: 5vh;
    opacity: 2;
   }
   .myslider:hover {
    opacity: 1;
}
.myslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 5vh;
    width: 16px;
    border-radius: 3px;
    background: rgb(147,205,221);
    cursor: pointer;
    margin-top: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

